/* .slick-dots-bottom{
    margin-left: 0 !important;
    margin-right: 0 !important;
} */

/* .slick-dots{
    max-width: 100% !important;
} */

.ant-carousel .slick-dots{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.slick-prev::before , .slick-next:before{
    color: gray !important;
    font-size: 3rem !important;
}

/* */

.width-item{
    width: 100% !important;
}
