
.ghe{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin:15px;
    background-color:rgb(104, 103, 103);
    color:#fff;
  }
  
  .gheDaDat{
    background-color:red;
    cursor: no-drop;
    line-height:16px;
  
  }
  
  .gheDangDat{
    background-color: green !important;
    line-height:16px;
  
  }
  
  .gheVip{
    background-color:rgb(233, 125, 24);
    line-height:16px;
  }


  .gheDaDuocDat {/* ghế được chính mình đặt*/
    background-color:rgba(246, 246, 246);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: orange !important;
    /* align-items: center; */
    border: 1px solid #000;
    line-height:16px;
  }

  .gheKhachDat{
    background-color: purple !important;
    cursor: no-drop;
    text-align: center;
    align-items: center;
    line-height:16px;
  }